#map {
    height: 100%;
    width: 100%;
  }

.frame{
    width: 100%;
    border-radius: 4px;

}
img {
    width: 100%;
    border-radius: 4px;
}

#frame {
  height: auto;
}


#sidenav {
  position: fixed!important;
  left: 0px;
  top:55px;
  z-index: 5;
  
}