html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
    font-family: 'Google Sans'!important;
    background-color: #fafafa !important;
}

#main {
padding-top: 55px;
}

#navbar {
    background-color: #1a73e8;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.16)!important;
}

#container, #main{
    position: absolute;
    width: 98vw;
    top: 0px;
    height: 100%;
    z-index: 0;
}

#sidenav {
    padding: 0px;
    height: 100%;
    background-color:  #FFFFFF!important;
    border-right: 1px solid rgba(0,0,0,.12);
}

#dash {
    padding: 20px;
}

.list-group-item.active {
    background-color:  rgba(0,0,0,.08)!important;
    border-color: rgba(0,0,0,.08)!important;
    color: #495057!important;
}

.list-group-item {
    width:15vw!important;
}

.sidebar-search {
    padding-left: 10px;
    padding-top: 10px;
}

.md-form {
    width: 95%
}

input {
    width: 100%!important;
}

.tab {
    padding-top: 10px;
    width: 100%;
}

.list-group-flush .list-group-item {
    width: 100%;
}

#map {
    min-height: 400px;
}

.box {
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.02), 0 1px 3px 1px rgba(60,64,67,.1);
    width: 100%;
    padding:10px;
    margin: 10px;
    min-height: 100px;
    height: 450px;
    background-color: white;
}

.btn {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.0)!important;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.0)!important;
}

.btn.btn-md {
    font-size: 14px!important;

}